// Media Queries
$mediaquery_w_early_sp: 1024px;
$mediaquery_w: 835px;
$mediaquery_w_sp: 768px;

// img_path
$imgPath: "../images/";

// mixin
@mixin mq_mobile {
	@media screen and (max-width: $mediaquery_w) {
		@content;
	}
}